# .gitgnore
# Ignore the following files

# Clutter
__pycache__/
*.pyc
notebooks/*
.coverage
cov.xml

# Private
.env

# Large data
data/00_input/icite/20*
data/01_intermediate/*/gathered-*/temp_pubmed_chunkfiles/
data/01_intermediate/*/gathered-*/geo_ftp_metadata.json
data/01_intermediate/*/gathered-*/geo_metadata.json

# Archived old data
archive