# .gitgnore
# Ignore the following files

# Clutter
__pycache__/
*.pyc
notebooks/

# Private
.env

# Large data
data/00_input/icite/20*
data/01_intermediate/*/gathered-*/temp_pubmed_chunkfiles/

# Archived old data
archive