# .gitgnore
# Ignore the following files

# Clutter
__pycache__/
*.pyc
notebooks/*

# Temporarily allow to share exploration
!notebooks/19_geo_datasets.ipynb

# Private
.env

# Large data
data/00_input/icite/20*
data/01_intermediate/*/gathered-*/temp_pubmed_chunkfiles/

# Archived old data
archive