biopython==1.87
certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
idna==3.18
iniconfig==2.3.0
numpy==2.5.0
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyyaml==6.0.3
requests==2.34.2
six==1.17.0
tqdm==4.68.3
tzdata==2026.2
urllib3==2.7.0
